@import url('ellograph-cf-demi-bold.ttf');
@import url('ellograph-cf-bold.ttf');
@import url('ellograph-cf-extra-bold.ttf');
#mytimer {
    font-size: 25px;
    filter: invert(1);
    animation-name: idk;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes timerblink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.timerwidj, #mytimerplay, #mytimerreset, #mytimerpause {
    font-family: ellograph CF;
    font-weight: 100;
    border: 2px solid #000;
    filter: invert(1);
    user-select: none;
    -webkit-user-select: none;
    font-style: italic;
    background: #00000000;
    width: 75px;
    text-align: center;
    border-radius: 5px;
}
#function-holder {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mytimerpause {
    display: none;
}
#mytimerreset {
    display: none;
}
.timerwidj {	
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#negtimer, #postimer, #timerfunctions {
    display: flex;
    margin-left: -1px;
}
#timerfunctions {
    justify-content: center;
}
#addmin, #minusmin, #addsec, #minussec{
    margin-left: 2.5px;
}
.timer-icon-up {
    height: 10px;
    width: auto;
}
.timer-icon-down {
    height: 10px;
    width: auto;
    transform: rotate(180deg);
}
.timer-func-icon {
    margin-top: 3px;
    height: 10px;
    width: auto;
}
#mytimerplay, #mytimerreset, #mytimerpause {
    width: 50px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}
#inputhr, #inputmin {
    width: 26px;
    border: 2px solid #fff;
    background: #fff;
    filter: invert(1);
    border-radius: 5px;
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: 0.3s ease;
    font-size: 80%;
}
#inputhr::placeholder, #inputmin::placeholder {
    align-items: center;
    color: #545454;
}
#inputhr:focus, #inputmin:focus {
    opacity: 1;
}
#inputmin {
    margin-left: 8.5px;
    width: 30px;
}
.timeredit {
    display: flex;
    position: absolute;
    top: 20px;
}
#arctimer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: invert(1);
    opacity: 0;
}